{% extends '../layout.liquid' %}

{% block content %}

<div class="form-wrap">
     <h2>Forgotten Password</h2>

     <form action="/forgotten" method="post">
          <div class="field-wrap">
               <label for="email">Email Address</label>
               <input type="text" name="email" class="field">
          </div>
          <div class="submit-wrap">
               <button>Submit</button>
          </div>
     </form>

     {% for error in errors %}
          <div class="error">{{ error.message }}</div>
     {% endfor %}

     {% if message %}
          <div class="message">{{ message }}</div>
     {% endif %}

     <a href="/login">Go Back</a>

</div>



{% endblock%}